p{
    margin-bottom: 0;
}
.shop_banner{
    background: green;
}
.shop_banner img{
    width: 100%;
}
.banner_blow_cnt{
    max-width: 628px;
}
.banner_blow_cnt{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 70px;
}
.features_div{
    padding-bottom: 78px;
}
.features_div ul{
    display: flex;
    list-style: none;
    max-width: 886.06px;
    margin: 0 auto;
    padding-left: 0;
    justify-content: space-between;
}
.feature{
    display: flex;
    align-items: center;
    gap: 10px;
}
.feature p{
    max-width: 79px;
    margin: 0;
}
.main_div{
    max-width: 1328px;
    margin: 0 auto;
    padding: 50px 38px;
    border-radius: 30px;
    background: linear-gradient(to right, #FEF3E8, #BFEBF4 );
}
.search_select_div{
    display: flex;
    justify-content: space-between;
}
.city_select_div{
    background: #FFFFFF url('images/city_drop_down.svg') no-repeat center right;
    border-radius: 15px;
    background-position-x: 470px;
}
.city_select_div select{
    min-width: 512px;
    min-height: 59px;
    border-radius: 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 20px 20px 20px 67px;
    background: url('/images/city_icon.svg') no-repeat center left;
    background-position-x: 34px;
    border: 1px solid #BECACB;
}
.search_div input{
    min-width: 719px;
    min-height: 59px;
    border-radius: 15px;
    padding: 20px 20px 20px 67px;
    background: #FFFFFF url('/images/search_icon.svg') no-repeat center left;
    background-position-x: 34px;
    border: 1px solid #BECACB;
}
.explore_txt{
    text-align: center;
    padding: 55px 0 37px 0;
}
.options_main_div{
    padding-bottom: 47px;
}
.optn_inner_div{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.optn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    max-width: 205px;
    min-width: 205px;
    border-radius: 12px;
    padding: 12px 42px 12px 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.optn:hover{
    box-shadow: 5px 7px black;
    background: #F8E128;
    transition: 0.5s ease;
}
.optn:hover .img_bc_span{
    background: white;
    transition: 0.5s ease;
}
.optactive{
    box-shadow: 5px 7px black;
    background: #F8E128;
    font-weight: 700;
    border: 1px solid #26ACE2;
}
.optactive .img_bc_span{
    background-color: #FFFFFF;
}
.img_bc_span{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #EDF7FF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}